.x-draw {
  position: relative;
  z-index: auto;

  --toolbar-height: 40px;

  .x-draw-board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .x-draw-left-top-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: var(--toolbar-height);
  }

  .x-draw-right-top-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    height: var(--toolbar-height);
  }

  .x-draw-left-bottom-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    height: var(--toolbar-height);
  }

  .x-draw-right-bottom-toolbar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    height: var(--toolbar-height);
  }
}
