.flowchart-draw {
  position: relative;
  z-index: auto;

  .fd-board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .fd-tl-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .fd-tr-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }

  .fd-bl-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
  }

  .fd-br-toolbar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
}
